body {
 cursor: url('cursor.cur'),auto 32 32,pointer; 
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.container h1 {
  font-size: 24px;
}

