body {
  cursor: none; /* Hide default cursor */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.container h1 {
  font-size: 24px;
}

/* Define the custom cursor */
.custom-cursor {
  cursor: url('https://image.shutterstock.com/image-photo/young-green-anaconda-aka-eunectus-260nw-1884926236.png') 25 25, auto; /* Replace 'monkey_cursor.png' with your image */
 
}
