body {
  cursor: none; /* Hide default cursor */
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  color: #333;
}

.container h1 {
  font-size: 24px;
}

/* Define the custom cursor */
.custom-cursor {
  cursor: url('https://previews.123rf.com/images/shock77/shock771603/shock77160300043/53432391-angry-ape-showing-middle-finger.jpg') 25 25, auto; /* Replace 'monkey_cursor.png' with your image */
 
}
